img{
border: 15px solid;
width: 30px;
border-radius: 6px;
}
body{
    background-color: #DDD2B7;

}
input{
    display: block;
    padding: 16px 16px 16px;
    border-radius: 100px;
    color: rgb(255, 153, 0);
    margin:auto;
}
button{
    display: block;
    padding: 16px 16px 16px;
    border-radius: 100px;
    color: rgb(255, 153, 0);
    margin:auto;
}
.text{
    text-align: center;
}
.lists{
    list-style: none;
}